<div class="about-general">
    <div class="about-image">
        <img src="/images/about.jpg" alt="About">
    </div>
    <div class="about-info">
        <h1>About Us</h1>
        <p>CyberStyle is a technology-based fashion retailing firm that specializes in merging fashion and technology, thereby making clothes that appeal to kids, men, and women. The type of clothing that we are promoting is fashionable clothing that will be able to attract people who are on the technological loop. It is for this reason that CyberStyle endeavors to revolutionize the fashion retail business through the goals of quality, affordability, and product.</p>
        <br>
        <h2>Our Fabrics</h2>
        <p>Rafted from recycled and sustainably grown fibers. Our clothing is crafted from high-quality, recycled, and sustainably grown fibers, reflecting our dedication to eco-friendly fashion and responsible sourcing.</p>
    </div>
</div>