<div class="general">
    <h1>Shipping Policy</h1>
    <p>At CyberStyle, we strive to provide you with the best shopping experience. Our shipping methods are efficient, and our packaging is 
        carefully handled to ensure your items arrive in perfect condition. We offer competitive shipping costs and timely delivery to your doorstep.</p>
    <br>
    <h2>Return & Refund Policy</h2>
    <p>Customer satisfaction is our priority at CyberStyle. In the event that you are not completely satisfied with your purchase, we have a hassle-free 
        return and refund policy. You can easily initiate a return or exchange, and we will ensure a prompt refund or replacement, providing you with 
        peace of mind while shopping with us.</p>
</div>