<div class="general">
    <h1>Customer Care</h1>
    <p>At CyberStyle, we are committed to providing exceptional customer service. If you have any questions, concerns, or need assistance with your order, 
        our dedicated customer care team is here to help. Please contact us via email at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nh9547@gmail.com&su=SUBJECT&body=BODY">nh9547@gmail.com</a> or chat us at <a href="https://api.whatsapp.com/send?phone=60196880861">WhatsApp</a>. Our 
        team is available 8:00am - 12:00am to ensure that your shopping experience is smooth and enjoyable.</p>
    <br>
    <h2>Privacy & Safety</h2>
    <p>Your privacy and safety are our top priorities. We use advanced encryption technology to protect your personal and payment information during 
        transactions. Our privacy policy outlines how we collect, use, and safeguard your data. Rest assured, we do not share your information with 
        third parties without your consent.</p>
    <br>
    <h3>Wholesale Inquiries</h3>
    <p>If you are interested in wholesale opportunities with CyberStyle, please reach out to our wholesale department at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=azlinazmanlee@gmail.com&su=SUBJECT&body=BODY">azlinazmanlee@gmail.com</a>. 
        Provide details about your business and the products you are interested in, and our team will get back to you with information on pricing, terms, 
        and conditions. We look forward to the possibility of partnering with you.</p>
</div>